<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration>

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%7r] %6p - %30.30c - %m \n"/>
        </layout>
    </appender>

    <appender name="FILE"
              class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="${log.file.path}"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd'.txt'"/>
        <param name="Append" value="true"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %p - %m%n"/>
        </layout>
    </appender>

    <root>
        <priority value="${log.level}"/>
        <appender-ref ref="${log.appender}"/>
    </root>
</log4j:configuration>